src/main/resources/xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="layout">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="generalInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="size">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="xSize"/>
                    <xs:element type="xs:short" name="ySize"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="entranceDoor">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="leftupperCorner">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="xPos"/>
                          <xs:element type="xs:byte" name="yPos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="downrightCorner">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="xPos"/>
                          <xs:element type="xs:byte" name="yPos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="store" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="color"/>
              <xs:element name="position">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="leftupperCorner">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="xPos"/>
                          <xs:element type="xs:short" name="yPos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="downrightCorner">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="xPos"/>
                          <xs:element type="xs:short" name="yPos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="door" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="leftupperCorner">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="xPos"/>
                                <xs:element type="xs:short" name="yPos"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="downrightCorner">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="xPos"/>
                                <xs:element type="xs:short" name="yPos"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="door" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="leftupperCorner">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="xPos"/>
                          <xs:element type="xs:short" name="yPos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="downrightCorner">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="xPos"/>
                          <xs:element type="xs:short" name="yPos"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="description">
                <xs:annotation>
                  <xs:documentation>other/food/clothing/toys/general/tech/sport</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="info"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:short" name="maxVisitors"/>
              <xs:element name="openingHours">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:time" name="openTime"/>
                    <xs:element type="xs:time" name="closeTime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="specialOffer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="startTime"/>
                    <xs:element type="xs:string" name="endTime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="object" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>“plant” oder “bench” oder “trash bin” “plant” oder “bench” oder “trash bin”</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="leftupperCorner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="xPos"/>
                    <xs:element type="xs:short" name="yPos"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="downrightCorner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="xPos"/>
                    <xs:element type="xs:short" name="yPos"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="type"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>